<?xml version="1.0" encoding="utf-8" ?>
<widget id="com.myplaceonline" version="1.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>myplaceonline</name>
  <description>myplaceonline is a virtual life assistant. https://myplaceonline.com/</description>
  <author email="contact@myplaceonline.com" href="https://myplaceonline.com/">contact@myplaceonline.com</author>

  <plugin name="cordova-plugin-device" />
  <plugin name="cordova-plugin-inappbrowser" />
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-universal-clipboard" />
  <plugin name="cordova-plugin-geolocation" />

  <!-- https://github.com/phonegap-build/docs-en/blob/master/configuring/preferences.md -->
  <!-- https://build.phonegap.com/current-support -->
  <preference name="phonegap-version" value="cli-5.4.1" />
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="false" />
  <preference name="permissions" value="none" />
  <preference name="KeepRunning" value="true" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="FadeSplashScreen" value="false" />
  <preference name="ShowSplashScreenSpinner" value="false" />

  <!-- https://www.npmjs.com/package/cordova-plugin-whitelist -->
  <plugin name="cordova-plugin-whitelist" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <access origin="*" />

  <!--
    https://github.com/phonegap/build/issues/97
    Requires xmlns:gap and xmlns:android
  -->
  <gap:config-file platform="android" parent="/manifest">
    <application android:theme="@android:style/Theme.NoTitleBar"></application>
  </gap:config-file>

  <platform name="android">
    <preference name="android-installLocation" value="auto" />
    <preference name="android-minSdkVersion" value="11" />
    
    <icon qualifier=""      src="icon.png" />
    <icon qualifier="ldpi"  src="res/icon/android/icon-36-ldpi.png" />
    <icon qualifier="mdpi"  src="res/icon/android/icon-48-mdpi.png" />
    <icon qualifier="hdpi"  src="res/icon/android/icon-72-hdpi.png" />
    <icon qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    
    <splash qualifier=""           src="splash.png" />
    <splash qualifier="port-ldpi"  src="res/screen/android/screen-ldpi-portrait.png" />
    <splash qualifier="land-ldpi"  src="res/screen/android/screen-ldpi-landscape.png" />
    <splash qualifier="port-mdpi"  src="res/screen/android/screen-mdpi-portrait.png" />
    <splash qualifier="land-mdpi"  src="res/screen/android/screen-mdpi-landscape.png" />
    <splash qualifier="port-hdpi"  src="res/screen/android/screen-hdpi-portrait.png" />
    <splash qualifier="land-hdpi"  src="res/screen/android/screen-hdpi-landscape.png" />
    <splash qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <splash qualifier="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
    
    <allow-intent href="market:*" />
  </platform>
  
  <!--
  <platform name="ios">
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <splash height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <splash height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <splash height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <splash height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <splash height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  
  <platform name="winphone">
    <icon src="res/icon/windows-phone/icon-48.png" />
    <icon role="background" src="res/icon/windows-phone/icon-173-tile.png" />
    <splash src="res/screen/windows-phone/screen-portrait.jpg" />
  </platform>
  -->
</widget>
